<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hover ani effect</title>
    <link rel="stylesheet" href="/css/navigation-apply/hover-effect.css">
</head>
<body>
    <div class="items">
        <div class="item">
            <div class="front">
                <img src="/images/seunghwan.png" width="300px" height="400px">
                <h2>김 승환</h2>
            </div>
            <div class="back">
                <p>
                    초등학교 5학년 좋아하는 게임 브롤스타즈 소중한거 스마트폰 아이패드
                </p>
                <a href="#none">상세보기</a>
            </div>
        </div>
        <div class="item">
            <div class="front">
                <img src="/images/suhwan.png" width="300px" height="400px">
                <h2>김 수환</h2>
            </div>
            <div class="back">
                <p>
                    초등학교 5학년 좋아하는 게임 브롤스타즈 소중한거 스마트폰 아이패드
                </p>
                <a href="#none">상세보기</a>
            </div>
        </div>
    </div>
</body>
</html>