<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>위 아래 전환 네이버 네비게이션</title>
    <!--첫번째 방법
    <link rel="stylesheet" href="/css/hover-utilize/hover-before_after_second.css">
    -->
    <link rel="stylesheet" href="/css/hover-utilize/hover-before_after_second2.css">
</head>
<body>
<!--첫번째 방법
<div class="gnb">
    <a href="#none">
        <span>아빠</span>
        <span>아빠</span>
    </a>
    <a href="#none">
        <span>엄마</span>
        <span>엄마</span>
    </a>
    <a href="#none">
        <span>승환</span>
        <span>승환</span>
    </a>
    <a href="#none">
        <span>수환</span>
        <span>수환</span>
    </a>
</div>
-->
<!--두번째 방법-->
<div class="gnb">
    <a href="#none" data-attribute="아빠"></a>
    <a href="#none" data-attribute="엄마"></a>
    <a href="#none" data-attribute="승환"></a>
    <a href="#none" data-attribute="수환"></a>
</div>
</body>
</html>