<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sns 아이콘 애니메이션</title>
    <link rel="stylesheet" href="/css/hover-utilize/hover-before_after.css">
</head>
<body>
<div class="sns">
    <a href="#none"><i class="fab fa-facebook-f"></i></a>
    <a href="#none"><i class="fab fa-twitter"></i></a>
    <a href="#none"><i class="fab fa-google-plus"></i></a>
    <a href="#none"><i class="fab fa-linkedin"></i></a>
    <a href="#none"><i class="fab fa-instagram"></i></a>
</div>
</body>
</html>