<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마우스 오버하면 상세설명</title>
    <link rel="stylesheet" href="/css/hover-utilize/style.css">
</head>
<body>
    <div class="items">
        <div class="item">
            <img src="/images/20190525_170426.jpg" width="300px" height="400px"/>
            <div class="caption">
                <h2>첫째 아들</h2>
                <p>
                    요기는 캠핑자에서 승환이가
                    미꾸라지 잡고 놀고 있어요.
                </p>
                <p>승환이 <s>6살</s>7살</p>
                <a href="#none">view Details</a>
            </div>
            <div class="tooltip">
                <span>5살 어린 동생을 괴롭히며 귀찮아해요.</span>
            </div>
        </div>
        <div class="item">
            <img class="cursor" src="/images/20190525_170603.jpg" width="300px" height="400px"/>
            <div class="caption">
                <h2>둘째 아들</h2>
                <p>
                    요기는 캠핑장에서 수환이가
                    미꾸라지 들어있는 통에 물을 담아 놀아요.
                </p>
                <p>승환이 <s>1살</s>2살</p>
                <a href="#none">view Details</a>
            </div>
            <div class="tooltip">
                <span>5살 많은 형을 너무 좋아해서 모든 걸 따라해요.</span>
            </div>
        </div>
    </div>
</body>
</html>