<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>제이쿼리 링크</title>
    <link rel="stylesheet" href="/css/first_day/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
    <a href="#none" class="show-btn">보이기</a>
    <a href="#none" class="hide-btn">감추기</a>
    <p>jquery를 먼저 다운로드하고 다음 jquery를 가지고 태그를 핸들링 해야 한다.
        순서가 바뀌면 custom.js에서 jquery를 사용 못하고
        Uncaught ReferenceError: $ is not defined. 오류
    </p>
    <script src="/js/study_js/custom.js"></script>
</body>
</html>