<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first-child, last-child</title>
    <link rel="stylesheet" href="../../css/first-child-last-child.css">
</head>
<body>
<div class="tab-inner">
    <div class="btn">
        <span>공지사항</span>
        <span>갤러리</span>
    </div>
    <div class="tab">
        <a href="#none">first, last child</a>
        <a href="#none">first, last child</a>
        <a href="#none">first, last child</a>
        <a href="#none">first, last child</a>
        <a href="#none">first, last child</a>
    </div>
</div>
</body>
</html>