<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>동그라미 로딩바</title>
  <link rel="stylesheet" href="/css/fifth_day/circle-loading.css">
</head>
<body>
  <div class="skill">
    <div class="outer">
      <div class="inner">
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="160px" height="160px">
      <defs>
        <linearGradient id="GradientColor">
          <stop offset="0%" stop-color="#1f38c2"/>
          <stop offset="100%" stop-color="#111d5c"/>
        </linearGradient>
      </defs>
      <circle r="70" cx="80" cy="80" stroke-linecap="round"/>
    </svg>
  </div>
</body>
</html>
