<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>드롭다운 네이게이션</title>
    <link rel="stylesheet" href="/css/dropdown-navigation/style.css">
</head>
<body>
<div class="memu-list">
    <div class="dropdown">
        <button class="dropdown-btn">마우스를 올려보세요</button>
        <div class="dropdown-submenu">
            <a href="#none">1. 모시기</a>
            <a href="#none">2. 모시기</a>
            <a href="#none">3. 모시기</a>
            <a href="#none">4. 모시기</a>
            <a href="#none">5. 모시기</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn">마우스를 올려보세요</button>
        <div class="dropdown-submenu">
            <a href="#none">1. 모시기</a>
            <a href="#none">2. 모시기</a>
            <a href="#none">3. 모시기</a>
            <a href="#none">4. 모시기</a>
            <a href="#none">5. 모시기</a>
        </div>
    </div>
</div>
</body>
</html>
