<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>제이쿼리 어떻게 쓰더라..</title>
    <link rel="stylesheet" href="/css/third-day/menu-search.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="btn">
    <span class="active">공지사항</span>
    <a class="active">중간에 a 태그가 끼면</a>
    <span>갤러리</span>
    <span>세개면</span>
</div>

    <ul class="menu">
        <li>
            <a href="#none">MENU-1</a>
            <div class="sub-menu">
                <a href="#none">SUB-MENU1-1</a>
                <a href="#none">SUB-MENU1-2</a>
                <a href="#none">SUB-MENU1-3</a>
                <a href="#none">SUB-MENU1-4</a>
            </div>
        </li>
        <li>
            <a href="#none">MENU-2</a>
            <div class="sub-menu">
                <a href="#none">SUB-MENU2-1</a>
                <a href="#none">SUB-MENU2-2</a>
                <a href="#none">SUB-MENU2-3</a>
                <a href="#none">SUB-MENU2-4</a>
            </div>
        </li>
    </ul>
<script src="/js/third-day/menu-search.js"></script>
</body>
</html>